/* Add any CSS styles or rules here */

body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("Dragon.png")
}
/*
<div style="
  background-color: #150D55;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 100 1000%27%3E%3Cg%3E%3Ccircle fill=%27150D55%27 cx=%2750%27 cy=%270%27 r=%2750%27/%3E%3Cg fill=%27240c58%27%3E%3Ccircle cx=%270%27 cy=%2750%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%2750%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%27300b5b%27 cx=%2750%27 cy=%27100%27 r=%2750%27/%3E%3Cg fill=%273c095d%27%3E%3Ccircle cx=%270%27 cy=%27150%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%27150%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%2746075f%27 cx=%2750%27 cy=%27200%27 r=%2750%27/%3E%3Cg fill=%27510460%27%3E%3Ccircle cx=%270%27 cy=%27250%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%27250%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%275b0162%27 cx=%2750%27 cy=%27300%27 r=%2750%27/%3E%3Cg fill=%27650062%27%3E%3Ccircle cx=%270%27 cy=%27350%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%27350%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%276f0063%27 cx=%2750%27 cy=%27400%27 r=%2750%27/%3E%3Cg fill=%27790063%27%3E%3Ccircle cx=%270%27 cy=%27450%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%27450%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%27820063%27 cx=%2750%27 cy=%27500%27 r=%2750%27/%3E%3Cg fill=%278b0063%27%3E%3Ccircle cx=%270%27 cy=%27550%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%27550%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%27940062%27 cx=%2750%27 cy=%27600%27 r=%2750%27/%3E%3Cg fill=%279d0061%27%3E%3Ccircle cx=%270%27 cy=%27650%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%27650%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%27a6005f%27 cx=%2750%27 cy=%27700%27 r=%2750%27/%3E%3Cg fill=%27ae005d%27%3E%3Ccircle cx=%270%27 cy=%27750%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%27750%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%27b6005b%27 cx=%2750%27 cy=%27800%27 r=%2750%27/%3E%3Cg fill=%27be0059%27%3E%3Ccircle cx=%270%27 cy=%27850%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%27850%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%27c50057%27 cx=%2750%27 cy=%27900%27 r=%2750%27/%3E%3Cg fill=%27cc0654%27%3E%3Ccircle cx=%270%27 cy=%27950%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%27950%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%27D31351%27 cx=%2750%27 cy=%271000%27 r=%2750%27/%3E%3C/g%3E%3C/svg%3E');
  background-attachment: fixed;
  background-size: contain;
">
  <!-- Your content goes here -->
  */

  /* <style>
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  nav a {
    font-size: 1.5rem;
  }
</style> */

