---
import Page from "../components/Page.astro";
---
<h3 style="
  background-color: #55060D;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 100 1000%27%3E%3Cg fill-opacity=%270.69%27%3E%3Ccircle fill=%27%2355060D%27 cx=%2750%27 cy=%270%27 r=%2750%27/%3E%3Cg fill=%27%235d0011%27 %3E%3Ccircle cx=%270%27 cy=%2750%27 r=%2750%27/%3E%3Ccircle cx=%27100%27 cy=%2750%27 r=%2750%27/%3E%3C/g%3E%3Ccircle fill=%27%23650016%27 cx=%2750%27 cy=%27100%27 r=%2750%27/%3E%3Cg fill=%27%236d001b%27%3E%3Ccircle cx=%270%27>
  Background design</h3>
<Page title="Owen Butters's Portfolio">
  <h1 data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
    Owen Butters's Portfolio
  </h1>
  <h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
    Project Menu
  </h2>
  <nav data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500">
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <li>
        <a href="./projects/MASH-game/"> 
          MASH Game
      </li>
      <li>
        <a href="./projects/image-processing/"> 
          Image Processing
      </li>
      <li>
      <a href="./projects/data-Visualization-project/"> 
          Data Visualization Project
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <h2>About Me</h2>
  <p>I am a junior at Innovation Academy Charter School and I am a soccer captain. I am taking AP computer science to see if it is something I want to do in the future</p>
</Page>
