---
import Page from "../components/Page.astro";
---

<Page title="Owen Butters's Portfolio">
  <!-- Container with centered text -->
  <div style="text-align: center;">
 
    <h1 data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
      Owen Butters's Portfolio
    </h1>

    <h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
      Project Menu
    </h2>

    <!-- Navigation for projects -->
    <nav data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500">
      <ul>
        <li>
          <a href="./projects/binary-search/"> Binary Search Project </a>
        </li>
        <!-- More projects to come soon! -->
      </ul>
    </nav>

    <!-- About me section outside of the nav tag -->
    <h2 data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
      About me
    </h2>
    <p>
      I am a junior at Innovation Academy Charter School and I am a soccer
      captain. I am taking AP computer science to see if it is something I want
      to do in the future.
    </p>
  </div></Page
>
