---
import Page from "../components/Page.astro";
import NavItem from "../components/NavItem.astro";
---

<Page title="Owen Butters's Portfolio">
  <!-- Container with centered text -->
  <div style="text-align: center;">
    <!-- Portfolio title with increased font size -->
    <h1
      style="font-size: 3rem;"
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      Owen Butters's Portfolio
    </h1>
    <!-- Project Menu with larger text size -->
    <h2
      style="font-size: 2.5rem;"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      Project Menu:
    </h2>

    <!-- Navigation with normal text size for links -->
    <nav data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500">
      <ul style="list-style: none; padding: 0;">
        <NavItem
          title="Binary Search Project"
          link="/projects/binary-search/"
          imageSrc="/Images/binary-search.png"
          blurb="Learn about the binary search algorithm and its implementations"
        />

        <NavItem
          title="APCSP Portfolio"
          link="/projects/portfolio/"
          imageSrc="/Images/portfolio.png"
          blurb="A showcase of all my AP Comupter Science Principles Projects."
        />

        <NavItem
          title="Coming Soon!"
          link="/projects/coming-soon"
          imageSrc="/Images/coming-soon.png"
          blurb="This project is coming soon!"
        />

        <!-- More projects to come soon! -->
      </ul>
    </nav>
    <!-- About Me section with larger text size -->
    <br />
    <h2
      style="font-size: 2rem;"
      data-aos="fade-down"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      About Me:
    </h2>

    <p
      style="font-size: 1.25rem;"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      I am a junior at Innovation Academy Charter School and I am a soccer
      captain.
    </p>
    <p
      style="font-size: 1.25rem;"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      I am taking AP computer science to see if it is something I want to do in
      the future.
    </p>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--9 line breaks(br) -->
  <p>Acknowledgments:</p>
  <footer>
    <a
      href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/"
      >Free SVG Backgrounds and Patterns by SVGBackgrounds.com(Background)</a
    >
    <br />
    <a href="https://commons.wikimedia.org/wiki/File:Family_Guy_Logo.svg"
      >Wikimeida commons, free SVG photos(Family Guy Image)</a
    >
    <br />
    <a href="https://chatgpt.com/">ChatGPT AI art</a>
    <br />
    <br />
    &copy; 2024 <b>Owen Butters</b>, last updated October 17. All Rights
    Reserved.
  </footer>
</Page>
