---
import Page from "../components/Page.astro";
---


<Page title="Owen Butters's Portfolio">
  <!-- Container with centered text -->
  <div style="text-align: center;">
    <!-- Portfolio title with increased font size -->
    <h1
      style="font-size: 3rem;"
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      Owen Butters's Portfolio
    </h1>

    <!-- Project Menu with larger text size -->
    <h2
      style="font-size: 2.5rem;"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      Project Menu
    </h2>

    <!-- Navigation with normal text size for links -->
    <nav data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500">
      <ul style="list-style: none; padding: 0;">
        <li>
          <a href="./projects/binary-search/" style="font-size: 1.5rem;">
            Binary Search Project
          </a>
        </li>
        <!-- More projects to come soon! -->
      </ul>
    </nav>
    <nav data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500">
      <ul style="list-style: none; padding: 0;">
        <li>
          <a href="Coming soon!" style="font-size: 1.5rem;"> Coming soon! </a>
        </li>
        <!-- More projects to come soon! -->
      </ul>
    </nav>
    <nav data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500">
      <ul style="list-style: none; padding: 0;">
        <li>
          <a href="Coming soon!" style="font-size: 1.5rem;"> Coming soon! </a>
        </li>
        <!-- More projects to come soon! -->
      </ul>
    </nav>
    <!-- About Me section with larger text size -->
    <h2
      style="font-size: 2rem;"
      data-aos="fade-down"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      About Me
    </h2>

    <p
      style="font-size: 1.25rem;"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      I am a junior at Innovation Academy Charter School and I am a soccer
      captain.
    </p>
    <p
      style="font-size: 1.25rem;"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      I am taking AP computer science to see if it is something I want to do in
      the future.
    </p>
  </div>
</Page>
