---
import Page from "../components/Page.astro";
---

<Page title="Owen Butters's Portfolio">
  <h1 data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000">
    Owen Butters's Portfolio
  </h1>
  <h2 date-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000">
    Project Menu
    //Not working yet
  </h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <h2>About Me</h2>
  <p>All About me...</p>
</Page>
