---
import Page from "../components/Page.astro";
import NavItem from "../components/NavItem.astro";
---

<div class="ball one"></div>
<div class="ball two"></div>
<div class="ball three"></div>
<br />
<Page title="Owen Butters Portfolio">
  <div style="text-align: center;">
    <h1
      style="font-size: 3rem; color: white;"
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      Owen Butters Portfolio
    </h1>
    <br />
    <h2
      style="font-size: 2.5rem; color: white;"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      Project Menu:
    </h2>
    <br />
    <nav data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500">
      <ul style="list-style: none; padding: 0;">
        <li style="margin-bottom: 1rem;">
          <NavItem
            title="Binary Search Project"
            link="./projects/binary-search/"
            imageSrc="./Images/binary-search.png"
            blurb="Learn about my group's usage of the binary search algorithm and its implementations in guessing games!"
            imageSize={100}
            color="#007bff"
          />
        </li>
        <li style="margin-bottom: 1rem;">
          <NavItem
            title="APCSP Portfolio"
            link="./projects/APCSP/"
            imageSrc="./Images/portfolio.png"
            blurb="A showcase of all my AP Computer Science Principles Projects including this one!"
            imageSize={100}
            color="#28a745"
          />
        </li>
        <li>
          <li style="margin-bottom: 1rem;">
            <NavItem
              title="Evolution of the Web"
              link="./projects/evolution/"
              imageSrc="./Images/evolution.png"
              blurb="This is a group presentation on recommendation algorithms and how they work!"
              imageSize={100}
              color="#cf1f1f"
            />
          </li>
          <li>
            <li style="margin-bottom: 1rem;">
              <NavItem
                title="Turtle Project"
                link="./projects/turtle"
                imageSrc="./Images/turtle.png"
                blurb="This project used turtle to create football jerseys of former Patriot football players!"
                imageSize={100}
                color="#9231d4"
              />
            </li>
            <li>
              <li style="margin-bottom: 1rem;">
                <NavItem
                  title="Mash Project"
                  link="./projects/mash"
                  imageSrc="./Images/mash.png"
                  blurb="For this project we made the mash game online using strings, lists, and arrays!"
                  imageSize={100}
                  color="#c91ec1"
                />
              </li>
              <li>
                <li style="margin-bottom: 1rem;">
                  <NavItem
                    title="Image Filters"
                    link="./projects/image-filters"
                    imageSrc="./Images/image-filters.png"
                    blurb="For this project we made filters for images! You can upload your own images as well!"
                    imageSize={100}
                    color="#09ff00"
                  />
                </li>
                <li>
                  <li style="margin-bottom: 1rem;">
                    <NavItem
                      title="Systems Disease Project"
                      link="./projects/system-disease"
                      imageSrc="./Images/system-disease.png"
                      blurb="For this project me and my friend made a simulation that showed how a disease works."
                      imageSize={100}
                      color="#03f0fc"
                    />
                  </li>
                  <li>
                    <NavItem
                      title="Upcoming Project"
                      link="./projects/coming-soon"
                      imageSrc="./Images/coming-soon.png"
                      blurb="This project is under development and will be available soon!"
                      imageSize={100}
                      color="#fd7e14"
                    />
                  </li>
                </li>
                <br />
                <h2
                  style="font-size: 2rem; color: white;"
                  data-aos="fade-down"
                  data-aos-duration="1000"
                  data-aos-delay="500"
                >
                  About Me:
                </h2>

                <p
                  style="font-size: 1.25rem; color: white;"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="500"
                >
                  I am a junior at Innovation Academy Charter School and I am a
                  soccer captain.
                </p>
                <p
                  style="font-size: 1.25rem; color: white;"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="500"
                >
                  I am taking AP computer science to see if it is something I
                  want to do in the future.
                </p>
              </li>

              <br /><br /><br /><br /><br /><br /><br /><br /><br />

              <!-- Acknowledgments and footer aligned to the left -->
              <div style="text-align: left;">
                <p>Acknowledgments:</p>
                <footer>
                  <a
                    href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/"
                    >Free SVG Backgrounds and Patterns by SVGBackgrounds.com
                    (Background)</a
                  >
                  <br />
                  <a
                    href="https://commons.wikimedia.org/wiki/File:Family_Guy_Logo.svg"
                    >Wikimedia commons, free SVG photos (Family Guy Image)</a
                  >
                  <br />
                  <a href="https://chatgpt.com/">ChatGPT AI art</a>
                  <br />
                  <br />
                  &copy; 2024 <b>Owen Butters</b>, last updated October 17. All
                  Rights Reserved.
                </footer>
              </div>
            </li>
          </li>
        </li>
      </ul>
    </nav>
  </div>
</Page>
