---
import Page from "../components/Page.astro";
import NavItem from "../components/NavItem.astro";
---

<br />
<Page title="Owen Butters's Portfolio">
  <div style="text-align: center;">
    <h1
      style="font-size: 3rem;"
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      Owen Butters's Portfolio
    </h1>
    <h2
      style="font-size: 2.5rem;"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      <br />
      Project Menu:
    </h2>
    <br />
    <nav data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500">
      <ul style="list-style: none; padding: 0;">
        <li style="margin-bottom: 1rem;">
          <button
            style="background-color: #007bff; color: white; padding: 1rem; border: none; border-radius: 5px;"
          >
            <NavItem
              title="Binary Search Project"
              link="/projects/binary-search/"
              imageSrc="/Images/binary-search.png"
              blurb="Learn about the binary search algorithm and its implementations"
              imageSize={100}
            />
          </button>
        </li>
        <li style="margin-bottom: 1rem;">
          <button
            style="background-color: #28a745; color: white; padding: 1rem; border: none; border-radius: 5px;"
          >
            <NavItem
              title="APCSP Portfolio"
              link="/projects/portfolio/"
              imageSrc="/Images/portfolio.png"
              blurb="A showcase of all my AP Computer Science Principles Projects."
              imageSize={100}
            />
          </button>
        </li>
        <li>
          <button
            style="background-color: #fd7e14; color: white; padding: 1rem; border: none; border-radius: 5px;"
          >
            <NavItem
              title="Upcoming Project"
              link="/projects/coming-soon"
              imageSrc="/Images/coming-soon.png"
              blurb="This project is under development and will be available soon!"
              imageSize={100}
            />
          </button>
        </li>
      </ul>
    </nav>
    <br />
    <h2
      style="font-size: 2rem; color: white;"
      data-aos="fade-down"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      About Me:
    </h2>

    <p
      style="font-size: 1.25rem; color: white;"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      I am a junior at Innovation Academy Charter School and I am a soccer
      captain.
    </p>
    <p
      style="font-size: 1.25rem; color: white;"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="500"
    >
      I am taking AP computer science to see if it is something I want to do in
      the future.
    </p>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br /><br />
  <p>Acknowledgments:</p>
  <footer>
    <a
      href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/"
      >Free SVG Backgrounds and Patterns by SVGBackgrounds.com (Background)</a
    >
    <br />
    <a href="https://commons.wikimedia.org/wiki/File:Family_Guy_Logo.svg"
      >Wikimedia commons, free SVG photos (Family Guy Image)</a
    >
    <br />
    <a href="https://chatgpt.com/">ChatGPT AI art</a>
    <br />
    <br />
    &copy; 2024 <b>Owen Butters</b>, last updated October 17. All Rights
    Reserved.
  </footer>
</Page>
