---
import Page from "../components/Page.astro";
---

<Page title="Owen Butters's Portfolio">
  <h1 data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
    Owen Butters's Portfolio
  </h1>
  <h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
    Project Menu
  </h2>
  <nav data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500">
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <li>
        <a href="./projects/MASH-game/"> 
          MASH Game
      </li>
      <li>
        <a href="./projects/image-processing/"> 
          Image Processing
      </li>
      <li>
      <a href="./projects/data-Visualization-project/"> 
          Data Visualization Project
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <h2>About Me</h2>
  <p>I am a junior at Innovation Academy Charter School and I am a soccer captain. I am taking AP computer science to see if it is something I want to do in the future</p>
</Page>
